.custom-cursor {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: $yellow;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-out;
    pointer-events: none;
    cursor: none;
}